<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae eum animi
      doloremque quae odit? Ea nobis voluptatem voluptas, quos aperiam, eos
      dolores pariatur accusamus nihil minima distinctio, nisi aut aliquam!
    </p>
  </header>
</section>
<section class="block block--dark block--skewed-right">
  <div class="container">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae eum animi
      doloremque quae odit? Ea nobis voluptatem voluptas, quos aperiam, eos
      dolores pariatur accusamus nihil minima distinctio, nisi aut aliquam!
    </p>
  </div>
  <h2 class="block__heading">Heading</h2>
</section>
