<div class="plan plan--popular">
  <div class="card card--secondary">
    <header class="card__header">
      <h3 class="plan__name">Entry</h3>
      <span class="plan__price">$14</span>
      <span class="plan_billing-cycle">/month</span>
      <spnan class="badge badge--secondary badeg--small">%10 off</spnan>
      <span class="description">Easy start on cloud</span>
    </header>
    <div class="card__body">
      <ul class="list list--tick">
        <li class="list__item">item1</li>
        <li class="list__item">item2</li>
        <li class="list__item">item3</li>
        <li class="list__item">item4</li>
      </ul>
      <button class="btn btn--primary btn--block">Buy now</button>
    </div>
  </div>
</div>
