<section class="block">
  <header class="block__header">
    <h2>what our customers are saying</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, deserunt.
    </p>
    <div class="container">
      <div class="card testimonial">
        <div class="grid grid--1x2">
          <div class="testimonial__image">
            <img src="/images/testimonial.jpg" alt="a happy man with smile" />
            <span class="icon-container icon-container--accent">
              <svg class="icon icon--white icon--small">
                <use xlink:href="images/sprite.svg#quotes"></use>
              </svg>
            </span>
          </div>

          <blockquote class="quote">
            <p class="quote__text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia
              ab laboriosam beatae at dolorum labore laborum eius delectus
              expedita fuga dolore eaque dolor ex, consequuntur architecto qui
              eveniet nihil commodi eum facilis sit ipsa minima ratione? Aliquid
              sit nobis amet ducimus voluptatibus culpa laboriosam laudantium
              qui optio, aut corporis est?
            </p>
            <footer>
              <div class="media">
                <div class="media__image">
                  <svg class="icon icon--primary quote__line">
                    <use xlink:href="images/sprite.svg#line"></use>
                  </svg>
                </div>
                <div class="media__body">
                  <h3 class="media__title quote__author">s.ghasemi</h3>
                  <p class="quote__organization">from QEPDC</p>
                </div>
              </div>
            </footer>
          </blockquote>
        </div>
      </div>
    </div>
  </header>
</section>
